<!doctype html>

<html lang="en">

<style>


.button {

    background-color: #267de1; /* Green */
  border: none;
  color: white;
  padding: 10px;
    width: 10px;
    height: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
    border-radius: 8px;
  margin: 14px 2px;
  cursor: pointer;
}

.in-button-font{
    color: #fff;
    font-size: 15px;
    font-family: arial, sans-serif;
    text-decoration: none;
    position: relative;
  right: 15px;
    bottom: 15px;

}

.button:hover {background-color: #135095}

.button:active {
  background-color: #135095;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
    border: 1px solid red;

}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #d0ddec;
}

.table-wrapper
{
    border: 1px solid white;
    width: 1200px;
    height: 500px;
    overflow: auto;


}

table
{
    border: 1px solid black;
    width: 100%;

}

td
{
    width: 30px;
    height: 30px;
    background-color: #ccc;
    text-align: center;
}

    .pane {
    display: inline-block;
    overflow-y: scroll;
    max-height:200px;
}

.container .add_facilities{
    position: absolute;

}
    .topBtn:hover{
        !important;
    }
    .collapse navbar-collapse:hover{
        !important;
    }
    .nav navbar-nav pull-right:hover{
         !important;
    }
    ::placeholder{
        color:white !important;
    }
    a:hover, a:focus {
    color: @nonhoovercolor;
}

</style>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Runner onepage - html</title>
  <meta name="keywords" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.">
  <meta name="description" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.">
  {% load static%}
  <link href="{% static 'HomePage/assets/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" >
  <link href="{% static 'HomePage/assets/fonts/flat-icon/flaticon.css' %}" rel="stylesheet" >
  <link href="{% static 'HomePage/css/style.css' %}" rel="stylesheet" >

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div id="content-wrapper">
    <header class="header header--bg">
      <div class="container">
        <nav class="navbar">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav pull-right">
          <li class="selected"><a style="color: #0F81F8" href="trainer_web.html">Home</a></li>
          <li><a href="#" style="color: #0F81F8">Examples</a></li>
          <li><a href="#" style="color: #0F81F8" data-toggle="modal" data-target="#exampleModalCenter">My Info</a></li>
          <li><a href="{%url 'publishTrainer' userName=username%}"  style="color: #0F81F8">publish</a></li>
          <li><a href="/" style="color: #0F81F8">Logout</a></li>
            </ul>
          </div>
        </nav>
        <div class="row">
          <div class="col-lg-6">
            <img class="img-responsive" src="{% static 'HomePage/assets/images/running-man.png' %}" alt="">
          </div>
          <div class="col-lg-6 header__content">
            <h1 class="title">SHARE-BALL <span class="title-style"></span></h1>
            <p> share your sport activity with friends, find new facilities and create sport groups  </p>

          </div>
        </div>
      </div>
    </header>

    <section class="steps">
      <div class="container">
        <div class="page-section text-center">
          <h2 class="page-section__title">find facility</h2>
          <a id="manage"></a>
          <div class="page-section__title-style">
            <span class="first-line"></span>
            <span class="second-line"></span>
          </div>
             <form method="POST" action="../ShowCourts/">
{% csrf_token %}
              <input type=hidden value={{ user }} name="user" />
              <input type=hidden value={{ user.userName }} name="userName" />
              <input type=hidden value={{ user.firstName }} name="firstName" />
              <input type=hidden value={{ user.lastName  }} name="lastName" />
              <input type=hidden value={{ user.password }} name="password" />
              <input type=hidden value={{ user.Email }} name="Email" />
              <input type=hidden  value={{ id }} name="id" />
              <input type=hidden  value={{ role }} name="role" />

        <select  name="neighborhoods">
         <option  selected disabled>שכונה</option>
               {% for instance in neighborhoddList %}
                    <option value={{ instance }}>{{ instance }}</option>
                {% endfor %}
        </select>
        <select  name="facilitiesType">
         <option  selected disabled>סוג מתקן</option>
               {% for instance in facilities %}
            <option value={{ instance }}>{{ instance }}</option>
               {% endfor %}
        </select>
        Need light <input type="checkbox" name="lighting" >
                    <button type="submit" class="btn btn-primary">OK</button>

 </form>
             <div style="margin-top:40px;">
      <table >

    <tr>
    <th>TYPE</th>
    <th>NAME</th>
    <th>NEIGHBORHOOD</th>
    <th>OPERATOR</th>
    <th>LIGHTNING</th>
    <th>CONDITION</th>
    <th>OWNER</th>
    <th>OpenHours</th>
        <th> show in map </th>

  </tr >
           {% if massege == False %}
                <td colspan="5">Please select a neighborhood and type of facility</td>

            {% elif courtsList != " " %}
               <tbody>

               {% for instance in courtsList %}
                   <tr>
                    <th>{{ instance.Type}}</th>
                    <th>{{ instance.Name}}</th>
                    <th>{{ instance.neighborho }}</th>
                    <th>{{ instance.Operator}}</th>
                    <th>{{ instance.lighting}}</th>
                    <th>{{ instance.condition}}</th>
                    <th>{{ instance.Owner}}</th>
                    <th>{{ instance.OpenHours}}</th>
                       <th align="center"><button class="button" type="button"><a class="in-button-font" href ={% url 'show_in_map' facilityId=instance.id %}  formmethod="post">Location</a></button></th>

                   </tr>
               {% empty %}
                   <tr><td colspan="5">No sports facilities found</td></tr>
               {% endfor %}
               </tbody>
           {% endif %}
           </table>
      </div>
    </div>
  </div>
    </section>

            </div>
      </div>
    <div id="footer">
      <p><a href="web_trainee.html">Home</a> | <a href="examples.html">Examples</a> | <a href="page.html">A Page</a> | <a href="another_page.html">Another Page</a> | <a href="contact.html">Contact Us</a></p>
      <p>Copyright &copy; night_sky_2 | <a href="http://validator.w3.org/check?uri=referer">HTML5</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | <a href="http://www.html5webtemplates.co.uk">Website templates</a></p>
    </div>


        </div>
      </div>
    </section>



    <section class="sponsors sponsors--bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-2 sponsors__single">
            <img src="{% static 'HomePage/assets/images/SCE.png' %}" alt="">
          </div>
           <div class="col-lg-2 sponsors__single">
            <img src="{% static 'HomePage/assets/images/Smart7.png' %}" alt="">
          </div>
           <div class="col-lg-2 sponsors__single">
            <img src="{% static 'HomePage/assets/images/Beer7.png' %}" alt="">
          </div>
           <div class="col-lg-2 sponsors__single">
            <img src="{% static 'HomePage/assets/images/kivonim.png' %}" alt="">
          </div>
        </div>
      </div>
    </section>
  </div>

  <script src="{% static 'HomePage/assets/jquery/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'HomePage/assets/bootstrap/js/bootstrap.min.js' %}"></script>
  <!-- <script src="assets/owl-slider/owl.carousel.min.js"></script> -->

  <script>
    $(document).ready(function() {

      $('button').click( function(e) {
        $('.collapse').collapse('hide');
      });
    });
  </script>
</body>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <div class="text-center">
                <h5 class="modal-title" style = "font-size: 25px;" id="exampleModalLongTitle">my Info</h5>
          </div>

        </button>
      </div>
      <div class="modal-body">
          <div class="text-center">
           <div class="row h-100 justify-content-center align-items-center">
              <h1 style="font-size: 20px; margin-left: 15px; color: black">userName: {{ user.userName }}</h1>
          </div>
          <div class="row h-100 justify-content-center align-items-center">
              <h1 style="font-size: 20px; margin-left: 25px; color: black">first name: {{ user.firstName }}</h1>
          </div>
           <div class="row">
               <h1 style="font-size: 20px; margin-left: 25px; color: black">last name: {{ user.lastName }}</h1>
           </div>
           <div class="row">
               <h1 style="font-size: 20px; margin-left: 25px; color: black">password: {{ user.password }}</h1>
           </div>
          <div class="row">
              <h1 style="font-size: 20px; margin-left: 25px; color: black">E-mail: {{ user.Email }}</h1>
          </div>
          </div>
      </div>
      <div class="modal-footer">
          <div class="text-center">
        <button type="button" class="btn btn-secondary" style="width:120px; height: 50px; color:white; border-radius: 20px; background: #0F81F8" data-dismiss="modal">Close</button>
          </div>
      </div>
    </div>
  </div>
</div>
</html>



