<!doctype html>

<html lang="en">

<style>


.button {

    background-color: #267de1; /* Green */
  border: none;
  color: white;
  padding: 10px;
    width: 10px;
    height: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
    border-radius: 8px;
  margin: 14px 2px;
  cursor: pointer;
}

.in-button-font{
    color: #fff;
    font-size: 15px;
    font-family: arial, sans-serif;
    text-decoration: none;
    position: relative;
  right: 15px;
    bottom: 15px;

}

.button:hover {background-color: #135095}

.button:active {
  background-color: #135095;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
    border: 1px solid red;

}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #d0ddec;
}

.table-wrapper
{
    border: 1px solid white;
    width: 1200px;
    height: 500px;
    overflow: auto;


}

table
{
    border: 1px solid black;
    width: 100%;

}

td
{
    width: 30px;
    height: 30px;
    background-color: #ccc;
    text-align: center;
}

    .pane {
    display: inline-block;
    overflow-y: scroll;
    max-height:200px;
}

.container .add_facilities{
    position: absolute;

}
    .topBtn:hover{
        !important;
    }
    .collapse navbar-collapse:hover{
        !important;
    }
    .nav navbar-nav pull-right:hover{
         !important;
    }
    ::placeholder{
        color:white !important;
    }
    a:hover, a:focus {
    color: @nonhoovercolor;
}

</style>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Runner onepage - html</title>
  <meta name="keywords" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.">
  <meta name="description" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.">
  {% load static%}
  <link href="{% static 'HomePage/assets/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" >
  <link href="{% static 'HomePage/assets/fonts/flat-icon/flaticon.css' %}" rel="stylesheet" >
  <link href="{% static 'HomePage/css/style.css' %}" rel="stylesheet" >

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div id="content-wrapper">
    <header class="header header--bg">
      <div class="container">
        <nav class="navbar">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav pull-right">
              <li ><a class="topBtn" href="#" data-toggle="modal" data-target="#exampleModalCenter">MY Info</a></li>
              <li class="topBtn"><a href="#manage" >MANAGE USERS</a></li>
              <li class="topBtn"><a href="#manage_facili">MANAGE FACILITIES</a></li>
              <li class="topBtn"><a href="#new_facilities">NEW FACILITIES</a></li>
              <li class="topBtn"><a href="/" >LOGOUT</a></li>
            </ul>
          </div>
        </nav>
        <div class="row">
          <div class="col-lg-6">
            <img class="img-responsive" src="{% static 'HomePage/assets/images/running-man.png' %}" alt="">
          </div>
          <div class="col-lg-6 header__content">
            <h1 class="title">SHARE-BALL <span class="title-style"></span></h1>
            <p> share your sport activity with friends, find new facilities and create sport groups  </p>
            <a class="header__button" href="#">LEARN MORE</a>
            <a class="header__button" href="#">DISCOVER</a>
          </div>
        </div>
      </div>
    </header>

    <section class="steps">
      <div class="container">
        <div class="page-section text-center">
          <h2 class="page-section__title">manage users</h2>
          <a id="manage"></a>
          <div class="page-section__title-style">
            <span class="first-line"></span>
            <span class="second-line"></span>
          </div>
        <div class="table-wrapper">
          {% block content2 %}
              <table>
                <tr>
                <th>ID</th>
                 <th>user-name</th>
                <th>password</th>
                <th>first name</th>
                    <th>last name</th>
                <th>role</th>
                <th>E-mail</th>
                <th>delete user</th>
                <th>edit user</th>
                </tr >
            {% for instance in object_List %}
            <tr>
            <th>{{ instance.id}}</th>
            <th>{{ instance.userName}}</th>
            <th>{{ instance.password}}</th>
            <th>{{ instance.firstName}}</th>
            <th>{{ instance.lastName}}</th>
            <th>{{ instance.role}}</th>
            <th>{{ instance.Email}}</th>
            <th align="center"><button class="button" type="button"><a class="in-button-font" href ={% url 'deleteUser' userID=instance.id %} formmethod="post">delete</a></button></th>
            <th align="center"><button class="button" type="button"><a class="in-button-font" href ={% url 'updateUserDetails' UserID=instance.id %} formmethod="post">edit</a></button></th>
            </tr>
        {% endfor %}
</table>
{% endblock %}
</div>
        </div>
      </div>
    </section>

  <section class="steps">
      <div class="container">
        <div class="page-section text-center">
          <h2 class="page-section__title">manage facilities</h2>
          <a id="manage_facili"></a>
          <div class="page-section__title-style">
            <span class="first-line"></span>
            <span class="second-line"></span>
          </div>
        <div class="table-wrapper">
          {% block content %}
              <table>
                <tr>
                <th>TYPE</th>
                <th>NAME</th>
                <th>NEIGHBORHOOD</th>
                <th>OPERATOR</th>
                <th>OWNER</th>
                </tr >
            {% for instance in facilities %}
            <tr>
                    <th>{{ instance.Type}}</th>
                    <th>{{ instance.Name}}</th>
                    <th>{{ instance.neighborho }}</th>
                    <th>{{ instance.Operator}}</th>
                    <th>{{ instance.Owner}}</th>
                    <th align="center"><button class="button" type="button"><a class="in-button-font" href ={% url 'deleteFacility' facilityId=instance.id %}  formmethod="post">delete</a></button></th>
                    <th align="center"><button class="button" type="button"><a class="in-button-font" href ={% url 'editFacility' facilityId=instance.id %}  formmethod="post">edit</a></button></th>

            </tr>
        {% endfor %}
</table>
{% endblock %}
</div>
        </div>
      </div>
    </section>
    <section class="form form--bg">
      <div class="container">
        <a id="new_facilities"></a>
        <div class="page-section">
          <div class="text-center">
            <h2 class="page-section__title page-section__title--white">Add New Facilities</h2>
            <div class="form__title-style">
              <span class="first-line"></span>
              <span class="second-line"></span>
            </div>
            <p class="page-section__subtitle page-section__subtitle--white">Here You can Insert new Fields</p>
          </div>
          <form method="POST" action="{% url 'newFacilities' %}">
              {% csrf_token %}
            <div class="form-group">
              <input class="form-control"  type="text" placeholder="Field Type" name="Field Type">
            </div>
            <div class="form-group">
              <input class="form-control" type="text" placeholder="Field Name" name="Field Name">
            </div>
            <div class="form-group">
               <input class="form-control" type="text" placeholder="Field Street" name="Field Street">
            </div>
            <div class="form-group">
               <input class="form-control" type="number" placeholder="Field HouseNumbe" name="Field HouseNumbe">
            </div>
            <div class="form-group">
               <input class="form-control" type="text" placeholder="Field Neighborho" name="Field Neighborho">
            </div>
            <div class="form-group">
               <input class="form-control" type="text" placeholder="Field Operator" name="Field Operator">
            </div>
            <div class="form-group">
               <input class="form-control" type="number" placeholder="Field Seats" name="Field Seats">
            </div>
            <div class="form-group">
               <input class="form-control" type="text" placeholder="Field Activity" name="Field Activity">
            </div>
            <div class="form-group">
               <input class="form-control" type="text" placeholder="Field Fencing" name="Field Fencing">
            </div>
            <div class="form-group">
               <input class="form-control" type="text" placeholder="Field Lighting" name="Field Lighting">
            </div>
            <div class="form-group">
               <input class="form-control" type="text" placeholder="Field Handicappe" name="Field Handicappe">
            </div>
            <div class="form-group">
               <input class="form-control" type="text" placeholder="Field Condition" name="Field Condition">
            </div>
            <div class="form-group">
               <input class="form-control" type="text" placeholder="Field Owner" name="Field Owner">
            </div>
            <div class="form-group">
               <input class="form-control" type="text" placeholder="Field ForSchool" name="Field ForSchool">
            </div>
            <div class="form-group">
               <input class="form-control" type="text" placeholder="Field Associatio" name="Field Associatio">
            </div>
            <div class="form-group">
               <input class="form-control" type="text" placeholder="Field SportType" name="Field SportType">
            </div>
            <div class="form-group">
               <input class="form-control" type="number" placeholder="Field lat" name="Field lat">
            </div>
            <div class="form-group">
               <input class="form-control" type="number" placeholder="Field lon" name="Field lon">
            </div>
            <div class="row">
              <div class="col-md-6 form-button">
                <input class="button--form" type="submit" value="ADD">
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>


    <section class="sponsors sponsors--bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-2 sponsors__single">
            <img src="{% static 'HomePage/assets/images/SCE.png' %}" alt="">
          </div>
           <div class="col-lg-2 sponsors__single">
            <img src="{% static 'HomePage/assets/images/Smart7.png' %}" alt="">
          </div>
           <div class="col-lg-2 sponsors__single">
            <img src="{% static 'HomePage/assets/images/Beer7.png' %}" alt="">
          </div>
           <div class="col-lg-2 sponsors__single">
            <img src="{% static 'HomePage/assets/images/kivonim.png' %}" alt="">
          </div>
        </div>
      </div>
    </section>

    <section class="team team--bg">
      <div class="container">
        <div class="page-section">
          <div class="text-center">
            <h2 class="page-section__title">Our team</h2>
            <div class="team__title-style">
              <span class="first-line"></span>
              <span class="second-line"></span>
            </div>
            <p class="page-section__subtitle">Team 1 is us </p>
          </div>
          <div class="row gutters-80">
            <div class="col-md-4">
              <div class="thumbnail team__single">
                <div class="bio text-center">
                  <img src="{% static 'HomePage/assets/images/Yahel.png' %}" alt="">
                  <h2>Yahel Friedman, Israel</h2>
                  <p>Developer & Scrum master</p>
                </div>
                <div class="caption">
                  <p> Team 1 - Together we are winners! </p>
                  <div class="social-icons">
                    <li><a href="#"><i class="flaticon-facebook-letter-logo"></i></a></li>
                    <li><a href="#"><i class="flaticon-twitter-logo-silhouette"></i></a></li>
                    <li><a href="#"><i class="flaticon-google-plus"></i></a></li>
                    <li><a href="#"><i class="flaticon-pinterest-logo"></i></a></li>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="thumbnail team__single">
                <div class="bio text-center">
                  <img src="{% static 'HomePage/assets/images/Matan.png' %}" alt="">
                  <h2>Matan Lazimi, Israel</h2>
                  <p> Developer & UX/UI Designer</p>
                </div>
                <div class="caption">
                  <p> Team 1 - Together we are winners! </p>
                  <div class="social-icons">
                    <li><a href="#"><i class="flaticon-facebook-letter-logo"></i></a></li>
                    <li><a href="#"><i class="flaticon-twitter-logo-silhouette"></i></a></li>
                    <li><a href="#"><i class="flaticon-google-plus"></i></a></li>
                    <li><a href="#"><i class="flaticon-pinterest-logo"></i></a></li>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="thumbnail team__single">
                <div class="bio text-center">
                  <img src="{% static 'HomePage/assets/images/Yzahk.png' %}" alt="">
                  <h2>Yzahk Tzahy Maymon, Israel</h2>
                  <p>Developer & Product Owner</p>
                </div>
                <div class="caption">
                  <p> Team 1 - Together we are winners! </p>
                  <div class="social-icons">
                    <li><a href="#"><i class="flaticon-facebook-letter-logo"></i></a></li>
                    <li><a href="#"><i class="flaticon-twitter-logo-silhouette"></i></a></li>
                    <li><a href="#"><i class="flaticon-google-plus"></i></a></li>
                    <li><a href="#"><i class="flaticon-pinterest-logo"></i></a></li>
                  </div>
                </div>
              </div>
            </div>
              <div class="col-md-4">
              <div class="thumbnail team__single">
                <div class="bio text-center">
                  <img src="{% static 'HomePage/assets/images/Elhanan.png' %}" alt="">
                  <h2>Elhanan Ben-Shabu, Israel</h2>
                  <p>Developer & QA</p>
                </div>
                <div class="caption">
                  <p> Team 1 - Together we are winners! </p>
                  <div class="social-icons">
                    <li><a href="#"><i class="flaticon-facebook-letter-logo"></i></a></li>
                    <li><a href="#"><i class="flaticon-twitter-logo-silhouette"></i></a></li>
                    <li><a href="#"><i class="flaticon-google-plus"></i></a></li>
                    <li><a href="#"><i class="flaticon-pinterest-logo"></i></a></li>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer footer--bg">
      <div class="container">
        <div class="row">
          <div class="col-md-4 footer__left">
            <a class="navbar-brand" href="#"></a>
          </div>
          <div class="col-md-2 footer__link">
            <li><a href="#">Link goes here</a></li>
            <li><a href="#">Another Link Here</a></li>
            <li><a href="#">Your Text Here</a></li>
            <li><a href="#">lorem ipsum dolor amet</a></li>
          </div>
          <div class="col-md-2 footer__link">
            <li><a href="#">Link goes here</a></li>
            <li><a href="#">Another Link Here</a></li>
            <li><a href="#">Your Text Here</a></li>
            <li><a href="#">lorem ipsum dolor amet</a></li>
          </div>
          <div class="col-md-4 footer__social-icons">
            <li><a href="#"><i class="flaticon-facebook-letter-logo"></i></a></li>
            <li><a href="#"><i class="flaticon-twitter-logo-silhouette"></i></a></li>
            <li><a href="#"><i class="flaticon-google-plus"></i></a></li>
            <li><a href="#"><i class="flaticon-pinterest-logo"></i></a></li>
          </div>
        </div>
      </div>
    </footer>

  </div>

  <script src="{% static 'HomePage/assets/jquery/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'HomePage/assets/bootstrap/js/bootstrap.min.js' %}"></script>
  <!-- <script src="assets/owl-slider/owl.carousel.min.js"></script> -->

  <script>
    $(document).ready(function() {

      $('button').click( function(e) {
        $('.collapse').collapse('hide');
      });
    });
  </script>
</body>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <div class="text-center">
                <h5 class="modal-title" style = "font-size: 25px;" id="exampleModalLongTitle">my Info</h5>
          </div>

        </button>
      </div>
      <div class="modal-body">
          <div class="text-center">
           <div class="row h-100 justify-content-center align-items-center">
              <h1 style="font-size: 20px; margin-left: 15px; color: black">userName: {{ user.userName }}</h1>
          </div>
          <div class="row h-100 justify-content-center align-items-center">
              <h1 style="font-size: 20px; margin-left: 25px; color: black">first name: {{ user.firstName }}</h1>
          </div>
           <div class="row">
               <h1 style="font-size: 20px; margin-left: 25px; color: black">last name: {{ user.lastName }}</h1>
           </div>
           <div class="row">
               <h1 style="font-size: 20px; margin-left: 25px; color: black">password: {{ user.password }}</h1>
           </div>
          <div class="row">
              <h1 style="font-size: 20px; margin-left: 25px; color: black">E-mail: {{ user.Email }}</h1>
          </div>
          </div>
      </div>
      <div class="modal-footer">
          <div class="text-center">
        <button type="button" class="btn btn-secondary" style="width:120px; height: 50px; color:white; border-radius: 20px; background: #0F81F8" data-dismiss="modal">Close</button>
          </div>
      </div>
    </div>
  </div>
</div>
</html>



